yakimaweb.com, www.yakimaweb.com {
    encode gzip zstd

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options    "nosniff"
        X-Frame-Options            "DENY"
        Referrer-Policy            "strict-origin-when-cross-origin"
        Permissions-Policy         "geolocation=(), microphone=(), camera=()"
    }

    @static path /static/* /media/*
    handle @static {
        reverse_proxy web:8000
    }

    handle {
        reverse_proxy web:8000
    }
}
